<html>
    <head>
       <title>Patty blog</title>
    </head>
    <body>
       <div>
          <h1><a href="">Patty blog</a></h1>
        </div>

        <div>
            <p>published: 26.11.2016, 16:40</p>
            <h2>il Sole e la Luna</h2>
        </div>
        <div>
           <p>Quando il sole tramonta, la' dietro i monti abbandonandosi dolcemente tra le braccia del mare, la luna si eleva a illuminare il cielo per regalare agli innamorati dolci sogni che al sorgere del sole si disperderanno tra le nuvole</p>
    </body>
</html>

